@use "../abstract/variables" as var;
@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;

.about-area {
  padding: 8rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: func.theme-colors();
  margin-top: 11rem;

  @include mixins.responsive(xs) {
    padding: 4rem 2rem;
    flex-direction: column;
    margin-top: 0;
  }

  @include mixins.responsive(sm) {
    padding: 4rem 2rem;
    flex-direction: column;
    margin-top: 0;
  }

  @include mixins.responsive(lg) {
    padding: 4rem 6rem;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
  }

  @include mixins.responsive(xl) {
    padding: 4rem 14rem;
  }

  &--img {
    width: 44rem;

    @include mixins.responsive(xs) {
      width: 100%;
    }

    @include mixins.responsive(sm) {
      width: 30rem;
    }

    @include mixins.responsive(lg) {
      width: 20rem;
    }

    @include mixins.responsive(xl) {
      width: 34rem;
    }
  }
  &--desc {
    color: func.theme-colors("white");

    @include mixins.responsive(xs) {
      margin: 0;
    }

    @include mixins.responsive(sm) {
      margin: 0;
    }

    h2 {
      font-size: 3rem;

      @include mixins.responsive(xs) {
        font-size: 2rem;
      }

      @include mixins.responsive(sm) {
        font-size: 1.5rem;
      }

      @include mixins.responsive(lg) {
        font-size: 2rem;
      }

      @include mixins.responsive(xl) {
        font-size: 2.5rem;
      }
    }
    p {
      line-height: 2;
      color: func.theme-colors("about-gray");

      @include mixins.responsive(xs) {
        font-size: 1rem;
      }

      @include mixins.responsive(sm) {
        font-size: 0.8rem;
      }
      @include mixins.responsive(lg) {
        font-size: 1rem;
      }

      @include mixins.responsive(xl) {
        font-size: 1rem;
      }
    }
  }
}
