@use "../abstract/mixins" as mixins;

.hero-area {
  padding: 8rem 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  @include mixins.responsive(xs) {
    padding: 4rem 2rem;
    flex-direction: column;
    button {
      display: block;
      margin: 1rem 0;
      width: 100%;
    }
  }

  @include mixins.responsive(sm) {
    padding: 4rem 2rem;
    flex-direction: column;

    img {
      width: 25rem;
      margin-top: 2rem;
    }
  }

  @include mixins.responsive(lg) {
    padding: 8rem 6rem;
    flex-direction: row;
  }

  @include mixins.responsive(xl) {
    padding: 4rem 14rem;
  }

  &--contents {
    max-width: 36rem;

    @include mixins.responsive(xs) {
      h2 > span {
        font-size: 1rem;
        padding: 2px 5px;
        font-weight: 400;
      }
    }

    @include mixins.responsive(sm) {
      h2 > span {
        font-size: 0.8rem;
        padding: 2px 5px;
        font-weight: 400;
      }
    }

    @include mixins.responsive(xl) {
      h2 > span {
        font-size: 1rem;
        padding: 2px 5px;
        font-weight: 600;
      }
    }
  }

  &--title {
    font-size: 3rem;
    font-weight: 600;

    @include mixins.responsive(xs) {
      font-size: 2rem;
    }

    @include mixins.responsive(sm) {
      font-size: 1.5rem;
    }

    @include mixins.responsive(lg) {
      font-size: 2rem;
    }

    @include mixins.responsive(xl) {
      font-size: 2.5rem;
    }
  }
  &--desc {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
    color: gray;

    @include mixins.responsive(xs) {
      font-size: 1rem;
    }

    @include mixins.responsive(sm) {
      font-size: 0.8rem;
    }

    @include mixins.responsive(lg) {
      font-size: 0.9rem;
    }

    @include mixins.responsive(xl) {
      font-size: 1rem;
    }
  }
}
